body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
}

.header {
  width: 100%;
  padding: 5px 20px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #1184CE;
  color: #FFFFFF;
}

.logo {
  color: #FFFFFF;
  display: inline-block;
  padding: 15px;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.logo span {
  font-size: 1.5em;
  vertical-align: 15px;
}

.content {
  width: 70%;
  box-sizing: border-box;
  padding: 20px;
  min-height: 500px;
  margin: 0 auto;
}

.todo-heading {
  text-align: center;
  font-size: 1.2em;
  color: #446CB3;
}

.todo-input {
  width: 50%;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 1em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
}

.todo-list-heading {
  padding-top: 30px;
}

.todo-list {
  text-align: center;
  margin-top: 30px;
}

.todo-item {
  text-align: center;
  background-color: #FDFDFD;
  padding: 20px 20px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, .1);
}

.todo-item h2 {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 10px;
}

.todo-item .todo-id {
  color: #1BA39C;
  float: left;
  font-weight: bold;
}

.todo-item .complete-status {
  color: #666;
  float: right;
}

.footer {
  background-color: #F5F5F5;
  color: #666;
  width: 100%;
  padding: 40px 20px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

.logo {
  float: left;
}

.main-nav {
  float: right;
}

.main-nav > ul > a > li {
  list-style: none;
  float: left;
  padding: 10px;
  color: white;
  transition: 0.3s;
  border-radius: 10px;
  border: 2px solid transparent;
  margin: 5px;
}

.main-nav > ul > a > li:hover {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  transition: 0.3s;
}
